@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Contoso University</h2>
        <p>
            Contoso University is a leading educational institution in the world.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Learn what University is</h2>
        <p>A university (Latin: universitas, 'a whole') is an institution of higher (or tertiary) education and research, which awards academic degrees in various academic disciplines.</p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/University">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>University Rankings</h2>
        <p>QS World University Rankings</p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/QS_World_University_Rankings">Learn more &raquo;</a></p>
    </div>
</div>